@use "../abstracts";

.clock {
  box-sizing: border-box;
  border-radius: 50%;
  height: 50vh;
  width: 50vh;
  padding: 1em;
  position: relative;
  border: 9px solid abstracts.$dark-Turquoise;
  box-shadow: 0 0 6px abstracts.$blue-Turquoise, inset 0 0 9px rgba(0, 0, 0, 0.5);

  .clock__hours {
    width: 0.1em;
    height: 90%;
    border-radius: 10px;
    background-color: abstracts.$light-Turquoise;
    position: absolute;
    left: 50%;
    box-shadow: 0 0 3px abstracts.$light-Turquoise;
  }
  
}
